body{
	background:url(../../image/web_image/%E6%B4%BB%E5%8A%A8%E6%8E%A8%E8%8D%90%E8%83%8C%E6%99%AF.png) center repeat;}


.top_back{
	z-index:3;
	position:fixed;
	height:40px;
	width:100%;
	background:#00ACFF;
	overflow:hidden;}
.transparency{
	filter:alpha(opacity=50); /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50; /*支持 Chrome, Opera, Safari 等浏览器*/}

.top{
	z-index:4;
	position:fixed;
	top:0;
	left:50%;
	margin-left:-550px;
	width:1100px;
	height:40px;} 
.a{
	float:left;
	font-size:26px;
	height:40px;
	color:#fff;
	width:120px;
	background:#999;}
.b{
	float:left;
	margin-left:50px;
	line-height:40px;
	color:#FFF;}
.c{
	float:left;
	margin-left:20px;
	line-height:40px;
	color:#FFF;}
	.c a{
		color:#fff;}
.d{
	float:right;
	margin:0 50px;
	line-height:40px;
	color:#FFF;}
	.d a{
		color:#fff;}
	.d a:hover{
		color:#333;}
.change_society{
	position:absolute;
	top:45px;
	left:160px;
	background:#fff;
	border:1px solid #ccc;
	padding:10px;}
	.change_society a{
		margin:0 10px;}
/*社团封面部分样式*/
.head{
	z-index:1;
	background:#f2f2f2;
	box-shadow:0 1px 4px #ccc;}
.head_in{
	position:relative;
	background:url(../../image/web_image/%E7%A9%BA%E9%97%B4%E8%83%8C%E6%99%AF.jpg) center no-repeat;
	height:300px;
	width:1100px;
	margin:0 auto;}
.cover_pic{
	position:absolute;
	top:120px;
	left:90px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:5px;
	height:130px;
	width:130px;
	padding:5px;}
	.cover_pic img{
		height:130px;
		width:130px;
		background:#fff;}
	.name{
		position:absolute;
		top:120px;
		left:250px;}
		.name strong{
			color:#00496C;
			font-size:24px;
			line-height:50px;}
	.description{
		position:absolute;
		top:200px;
		left:250px;
		width:500px;
		color:#fff;}
	.identity{
		position:absolute;
		bottom:20px;
		right:30px;
		color:#fff;}
		.identity a{
			font-size:18px;}
.body{
	width:1100px;
	background:#39F;
	margin:10px auto;}
	
/*左侧部分样式*/
.left{
	float:left;
	width:240px;}
.fresh_button{
	width:240px;
	height:40px;
	background:#97ddff;
	border-radius:5px;
	margin-bottom:10px;
	color:#fff;
	text-align:center;
	line-height:40px;}	
	.fresh_button:hover{
		transition:background 0.3s;
        -moz-transition:background 0.3s; /* Firefox 4 */
        -webkit-transition:background 0.3s; /* Safari and Chrome */
        -o-transition:background 0.3s; /* Opera */	
		background:#00ACFF;}	
.buttons{
	width:238px;
	background:#fff;
	border:1px solid #eee;
	box-shadow:0 0 3px #ccc;}
	/*鼠标轮滚动后的样式*/
	.scroll{
		position:fixed;
		top:50px;}
	.buttons div{
		width:238px;
		margin:auto;
		cursor:pointer;}
    .buttons li{
		margin:auto;
		width:200px;
		height:60px;
		line-height:60px;
		border-bottom:1px solid #f2f2f2;}
   .buttons div:hover{
	color:#00acff;
	box-shadow:1px 1px 3px #ccc;}
	.buttons img{
		float:left;
		margin:15px;
		height:30px;
		width:30px;}


/*中间主体部分样式*/

.action a{
	height:38px;
	width:130px;
	display:inline-block;
	margin-left:10px;
	margin-bottom:10px;
	border-radius:5px;
	float:right;
	text-align:center;
	line-height:38px;
	color:#999;
	border:1px solid #999;
	background:#fff;}
		.action_1:hover{border:1px solid #f00;color:#f00;}
		.action_2:hover{border:1px solid #3C0;color:#3c0;}
		.action_3:hover{border:1px solid #00acff;color:#00acff;}

.main{
	float:left;
	margin-left:17px;
	width:841px;}
.page{
	margin-bottom:10px;
	padding:10px;
	width:821px;
	background:#fff;
	border:1px solid #eee;
	box-shadow:0 0 3px #ccc;}
	.title strong{
		float:left;
		font-size:16px;
		line-height:20px;
		margin-left:20px;}
	.title a{
		float:right;
		color:#ccc;
		margin-right:20px;}
		.page a:hover{
			color:#00acff;}
	.title a i{
		display:inline-block;
		background:#ccc;
		height:10px;
		width:20px;
		margin-left:10px;}

.table{
	width:820px;
	margin:10px auto;}
.table li{
	height:40px;
	padding:2px;
	margin:1px 0;
	overflow:hidden;}
.table li:first-child,.table li:last-child{
	height:25px;
	padding:2px;
    background:#97ddff;
	color:#fff;}

.table li span{
	overflow:hidden;
	float:left;
	display:block;
    height:40px;
	line-height:40px;
	text-align:center;
	border-right:1px solid #fff;}
	.table li:first-child span,.table li:last-child span{
		text-align:center;
		height:25px;
		line-height:25px;}
	.table span:nth-child(1){
		width:50px;}
	.table span:nth-child(2){
		text-align:left;
		width:140px;}
		.table span:nth-child(2) a{}
	.table span:nth-child(3){
		width:130px;}
	.table span:nth-child(4){
		width:130px;}
	.table span:nth-child(5){
		width:70px;}
	.table span:nth-child(6){
		width:70px;}
	.table span:nth-child(7){
		width:220px;
		border-right:0;}
	.table span:nth-child(7) a,.handle a{
		color:#999;}
	.table span:nth-child(7) a:hover,.handle a:hover{
		color:#00acff;}
	.table span img{
		float:left;
		margin:2px 5px;
		height:36px;
		width:36px;
		background:#ccc;}
.table span a,.handle li a{
	margin:0 10px;}
.handle{
	margin:15px 0 5px 0;}
	.handle a{
		display:inline-block;
		height:25px;
		line-height:25px;
		width:70px;
		text-align:center;
		border-radius:5px;
		margin:0 20px;}
	.handle p{
		display:inline-block;
		margin-right:198px;}
	#h1{border:1px solid #999;color:#999;}
	#h1:hover{border:1px solid #f00;color:#f00;}
	#h2{border:1px solid #999;color:#999;}
	#h2:hover{border:1px solid #00acff;color:#00acff;}
	#h3{border:1px solid #999;color:#999;}
	#h3:hover{border:1px solid #3C0;color:#3c0;}
.table input[type=checkbox]{
	height:40px;
	vertical-align: middle;
	cursor:pointer;}
	.table li:last-child input[type=checkbox]{
		height:25px;}
		
.load_more{
	display:inline-block;
	height:25px;
	line-height:25px;
	width:400px;
	text-align:center;
	margin-left:15px;
	color:#fff;}
	.load_more:hover{
		color:#000;}
		


/*调换部门*/
.change_dep{
	position:absolute;
	width:auto;
	background:#fff;
	padding:15px;
	box-shadow:0 0 3px #ccc;
	margin-top:35px;
	margin-left:660px;}
	.change_dep p{
		margin-bottom:10px;}
	.change_dep select{
		height:33px;
		border:1px solid #ccc}
	.change_submit{
		height:33px;
		border:1px solid #00acff;
		background:#fff;
		width:60px;
		border-radius:5px;
		color:#00acff;
		margin-left:10px;}
		.change_submit:hover{
			cursor:pointer;
			background:#00acff;
			color:#fff;}

/*导出通讯录*/
.export_members{
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-200px;
	width:350px;
	border:1px solid #ccc;
	background:#fff;
	padding:25px;
	z-index:11;}
	.export_members ul{
		margin:15px;}
	.export_members ul li{
		line-height:28px;
		margin:0 20px;
		color:#999;}
	.export_members input[type=checkbox]{
		vertical-align: middle;
		cursor:pointer;}
	.export_members ul li label{
		margin:0 5px;
		height:28px;
		line-height:26px;
		cursor:pointer;}
	.export_members .button{
		width:80px;
		margin:0 auto;}
	.export_members .quit{
		font-size:26px;
		position:absolute;
		top:15px;
		right:25px;}

/*添加新成员*/
.add_newMember{
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-250px;
	margin-left:-400px;
	border:1px solid #ccc;
	background:#fff;
	z-index:11;
	width:800px;}
.invite_1,.invite_2{
	height:100px;
	width:100px;
	border:10px solid #fff;
	border-radius:60px;
	box-shadow:0 0px 5px #ccc;
	top:80px;
	cursor:pointer;
	margin-top:100px;}
	.invite_1{
		background:url(../../image/web_image/%E4%B8%BB%E9%A2%98%E5%9B%BE%E7%89%87.png) center no-repeat;
		float:left;
		margin-left:220px;}
	.invite_2{
		background:url(../../image/web_image/%E4%B8%BB%E9%A2%98%E5%9B%BE%E7%89%87.png) center no-repeat;
		float:right;
		margin-right:220px;}
	.add_newMember .direction{
		margin-top:90px;
		margin-left:100px;}
.way_1,.way_2{
	background:#fff;
	margin:auto;
	margin-top:20px;
	margin-bottom:-50px;
	width:450px;
	box-shadow:0 0px 5px #ccc;
	padding:20px;}
	.way_2 strong,.way_1 strong{
		margin:10px;}
	.way_2 p{
		margin:10px;}
	.way_2 input[type=file]{
		margin-left:10px;}
	.way_2 a{
		text-decoration:underline;}
	.way_1 input{
		float:left;
		margin:0 10px;
		border:1px solid #ccc;
		vertical-align: middle;
		height:36px;
		line-height:36px;
		border-radius:5px;
		text-align:center;}
	.way_1 input[name='name[]']{
		width:80px;}
	.way_1 input[name='telnumber[]']{
		width:200px;}
.way_1 ul li{
	margin:10px 0 10px 30px;}
	.way_1 ul li a{
		margin:5px;
		float:left;
		display:block;
		eight:25px;
		width:25px;
		border:1px solid #ccc;
		border-radius:15px;
		text-align:center;
		line-height:25px;
		color:#ccc;}
	.way_1 ul li a:hover{
		color:#00acff;
		border:1px solid #00acff;}
	.go_on{
		margin:0 auto;
		display:block;
		eight:30px;
		width:80px;
		border:1px solid #00acff;
		border-radius:15px;
		text-align:center;
		line-height:30px;
		color:#00acff;}
	.go_on:hover{
		background:#00acff;
		color:#fff;}
.actions{
	width:330px;
	margin:auto;}
.actions .button{
	display:inline-block;
	margin:25px 15px}


/*退出社团*/
.exit_society{
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-200px;
	border:1px solid #ccc;
	background:#fff;
	z-index:11;
	width:350px;
	padding:25px;
	text-align:center;}
	.exit_society .button{
		display:inline-block;
		margin:0 15px;
		margin-top:20px;}
	

/*公示提醒框样式*/
.notice_box{
	z-index:11;
	position:fixed;
	top:50%;
	margin-top:-70px;
	left:50%;
	margin-left:-260px;
	padding:10px;
	border:1px solid #f2f2f2;
	height:130px;
	width:500px;
	background:#fff;}
	.notice_box strong{
		margin:10px auto;
		font-size:18px;
		text-align:center;
		display:block;}
	.notice_box p{
		margin:10px auto;
		display:block;
		width:300px;
		text-align:center;}
	.choose a{
		margin:10px 20px;
		display:inline-block;
		height:30px;
		width:100px;
		line-height:30px;}
	.notice_box .choose{
		width:284px;
		margin:10px auto;}	
	
	
	
	
	