body{
	background:url(../../image/web_image/%E6%B4%BB%E5%8A%A8%E6%8E%A8%E8%8D%90%E8%83%8C%E6%99%AF.png)}
.top_back{
	height:100px;
	background:#00ACFF;
	overflow:hidden;
	box-shadow:0 1px 2px #ccc;
	-moz-box-shadow:0 1px 2px #ccc;
	-webkit-box-shadow:0 1px 2px #ccc;
	behavior: url(ie-css3.htc); /* 通知IE浏览器调用脚本作用于'box'类 */}
.top{
    margin:0 auto;
	width:1100px;
	height:100px;
	background:#00ACFF;} 
.a{
	float:left;
	margin:30px 50px;
	font-size:26px;
	line-height:40px;
	color:#fff;}
.b{
	float:right;
	margin:30px 50px;
	line-height:40px;
	color:#FFF;}
	.b a{
		color:#fff;}
	.b a:hover{
		color:#333;}
.page{
	background:#fff;
	width:400px;
	margin:10% auto;
	padding:20px 0;
	box-shadow:0px 0px 5px #ccc;
	-moz-box-shadow:0 0px 5px #ccc;
	-webkit-box-shadow:0 0px 5px #ccc;
	behavior: url(ie-css3.htc); /* 通知IE浏览器调用脚本作用于'box'类 */}

.page input[type=text],input[type=password]{
		border:1px solid #ccc;
		vertical-align: middle;
		width:250px;
		height:36px;
		line-height:36px;
		border-radius:5px;
		padding:0 10px;}
.page form li{
	width:347px;
	margin:10px auto;}
.page form li label{
	display:inline-block;
	width:70px;}
.test_code input[type=text]{
	width:160px;}
	.test_code input[type=button]{
		display:inline-block;
		height:37px;
		width:80px;
		margin:0px;}
        
#span_1,#span_2,#span_3,#otel,#span_4,#span_5{
	display:block;
	margin:-10px 80px;
	color:#ff0000;
}